/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

.field_required{
	font-size: 14px;
	color: rgba(158, 157, 157,0.9);
}

.field_required-icon{
	font-size: 18px;
}
