/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

/* Texto e icono de campos obligatorios - formularios */
.field_required{
	font-size: 14px;
	color: rgba(158, 157, 157,0.9);
}

.field_required-icon{
	font-size: 18px;
}

/* Texto requisitos de imágen */
.image-requisite{
	color:rgb(136, 136, 136);
	font-size: 12px;
}

/* tamaño de imágen de la tabla de colores - backend */
.img_color{
	width: 48px;
	height: 48px;
	max-width: 48px;
	max-width: 48px;
	min-width: 48px;
	min-height: 48px;
}
